.header{
    width: 100%;
 }



.header_flex{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,0.2);
    height: 80px;
    position: fixed;
    /* box-shadow: 2px 2px 5px #999; */
    z-index: 1000;
    top: 0;
    padding:20px ;
    
}
.logo img{
    width: 160px;
    
}

 .nav ul{
  display: flex;   

  
}
.nav a{
    padding: 20px;
    text-decoration: none;
  
   
   
}

.nav li{
    list-style: none;
    
}


@media(max-width:768px){


/* --------------------Menu responsive------------------ */
.nav {
    position: absolute;
    top:0;
    left:-100%;
    width: 200px;
    transition: all 0.4s;
    height: 100vh;
    background-color: rgba(0,0,0,0.4);
    list-style: none;
    box-shadow: 2px 2px 5px #999;
    
    
  
  }
.mostrar {
    left: 0;
  }
.opacar{
opacity: .1;
 height: 100%;

 width: 100%;

 

}

  nav ul{
      flex-direction: column;
      display: flex;
      padding: 0;
      width: 100%;
      margin-top: 80px;
      
      
    }
    .nav ul li {
    line-height: 3.2em;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    
    
  }
  .nav ul li:hover {
    background-color: rgba(0,0,0,0.1);
    
  }
  .logo img{
      width: 100px;
  }
 

}
/* -----------------------Boton Menu Animado--------------------------------------- */

.menu-bar{
    width: 30px;
    cursor: pointer;
    z-index: 1;
    
}

.uno, .dos, .tres{
    width: 100%;
    background: white;
    height: 3px;
    transition: all 0.5s;
    
}

.dos{
    margin: 5px 0;
}


.btn_x .dos{
    opacity:0;

}

.btn_x .uno{
    transform: rotate(45deg) translate(5px, 5px);
  
}
.btn_x .tres{
     transform: rotate(-45deg) translate(6px, -7px);
}

/* ------------------------------------------------------------------------ */

@media(min-width:768px){
    .menu-bar{
        display: none;
    }
    .nav ul{
        
        margin: auto;
        
        
      }
}