.herramientaElectricaBateria img{
    width: 225px;
  
    transition: all .7s;
    border-radius: 5px;
    margin:20px;
    margin-bottom: 30px;
    margin-top: 100px;
}
.herramientaElectricaBateria img:hover{
   transform: scale(1.5);
   transition: all .7s;
}


.herramientaElectricaBateria{
    display: flex;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
 
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    

}
.herramientaElectricaBateria a{
text-decoration: none;
    

}

@media(max-width:768px){
    .herramientaElectricaBateria img{
        width: 122px;
        margin:0;
        margin-bottom: 10px;
        margin-top: 90px;
     }
  
     
}